*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #161616;
    color: #fff;
}

header{
    margin: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 48px;
    width: 48px;
    margin-right: 12px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.films-list{
    display: flex;
    width: 800px;
    flex-wrap: wrap;  /* "flex-wrap" é: Se eu ultrapassar o tamanho de width setado na linha anterior: 
    "wrap" é quebra alinha*/
    flex-direction: row;
}

.film-card{
    border-radius: 4px;
    overflow: hidden;  /* O que passar a proporção setada (altura ou largura) não será mostrado */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 360px;
    width: 240px;
    background-color: #010101;
    margin-bottom: 16px;
    margin-right: 12px;
    cursor: pointer;
}

.film-title{
    font-size: 16px;
    font-weight: bold;
}

.modal{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal-content{
    width: 50vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    color: #000;
}

.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 756px;
    height: 36px;
    background-color: #fff;
    margin-bottom: 48px;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px;
}
.search-input{
    border: 0;
    width: 90%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
}